.unlocated .list-group-item-heading.col-md-3{
	color: White;
}

.finding .list-group-item-heading.col-md-3{
	color: Blue;
}

.no-car .list-group-item-heading.col-md-3{
	color: Violet;
}

.done .list-group-item-heading.col-md-3{
	color: LightSeaGreen;
}

.panel-body{
    max-height: 500px;
    overflow-y:scroll; 
}