.unlocated .list-group-item-heading.col-md-4{
	color: Gray;
}

.finding .list-group-item-heading.col-md-4{
	color: Blue;
}

.no-car .list-group-item-heading.col-md-4{
	color: Red;
}

.done .list-group-item-heading.col-md-4{
	color: LightSeaGreen;
}

.panel-body{
    max-height: 500px;
    overflow-y:scroll; 
}