.unlocated .pull-right{
	color: Gray;
}

.finding .pull-right{
	color: Blue;
}

.no-car .pull-right{
	color: Red;
}

.done .pull-right{
	color: LightSeaGreen;
}

.running .pull-right{
	color: Orange;
}

.panel-body{
    max-height: 500px;
    overflow-y:scroll; 
}